<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/output.css" />
  <title>Day Planner</title>
  <script src="https://kit.fontawesome.com/ee121fe568.js" crossorigin="anonymous"></script>
  <title>Day Planner</title>
</head>

<body>
  <header class="fixed flex w-full h-32 p-14 justify-between items-center bg-sky-300 text-white">
    <a href="/" class="text-5xl font-bold">
      AirItinerary
    </a>
    {{#if sessionData.loggedIn}}
    <p class="float-left">Logged in as: {{ sessionData.username }} <a href="/logout">(log-out)</a></p>
    {{/if}}

    <a href="/login" class="float-right">
      <i class="fa-solid fa-circle-user fa-2xl"></i>
    </a>
  </header>

  {{{body}}}

  <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
  <script src="../node_modules/flowbite/dist/datepicker.js"></script>

</body>

</html>