<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/output.css" />
  <title>Day Planner</title>
  <script src="https://kit.fontawesome.com/ee121fe568.js" crossorigin="anonymous"></script>
  <title>Day Planner</title>
</head>

<body>
  <header class="fixed flex z-50 w-full h-32 p-14 justify-between items-center bg-sky-300 text-white">
    <a href="/" class="text-5xl font-bold">
      AirItinerary
    </a>
        <nav class="float-right">
            <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation"
                class="text-white bg-sky-300 hover:bg-sky-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
                type="button"> <i class="fa-solid fa-caret-down fa-2xl"></i>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
              <div id="dropdownInformation"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
            
            {{#if sessionData.loggedIn}}
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                    <div>{{ sessionData.username }}</div>
                    <div class="font-medium truncate">{{ sessionData.email }}</div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
                    <li>
                        <a href="/saved"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Saved
                            Itineraries</a>
                    </li>
                </ul>
                <div class="py-2">
                    <a href="/logout"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Log
                        out</a>
                </div>
            </div>
            {{else}}
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
                    <li>
                        <a href="/login"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Log
                            in</a>
                    </li>
                </ul>
          {{/if}}
        </nav>
  </header>
  
  {{{body}}}

    <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="../node_modules/flowbite/dist/datepicker.js"></script>
    <script src="js/script.js"></script>
    <script src="js/autofill.js"></script>
  </body>


