<main class="top-64 relative flex w-full justify-center">

    <section class="h-96 w-96 inline-flex flex-col items-center">

        <label for="activate-code" class=" mb-1 text-sm font-medium text-gray-900 dark:text-white">Please type in the
            activation code sent to your email:</label>

        <input type="activate-code" id="activate-code"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 mb-5 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="0000" required>
        </div>

        <button type="submit-confirm" id="submit-confirm"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </section>

</main>

<script src="/js/account-confirmation.js"></script>