<main class="top-52 relative flex flex-col w-full items-center">
  <h1 class="text-2xl font-extrabold">Your saved itineraries</h1>
  <table class="w-3/4 mt-7 table-fixed">
    <thead>
      <tr>
        <th id="destination" class="border-r text-center"> Destination </th>
        <th id="dateLeave" class="border-r text-center"> Date leaving</th>

        <th id="savedActivities" class="col-span-3 text-center w-1/2">Activites
          planned</th>

        <th id="dateReturn" class="border-l text-center"> Date returning </th>
      </tr>
    </thead>
    <tbody>
      {{#each itineraries as |itineraries|}}
        <tr>
          <td>
            {{itineraries.depart_location}}
          </td>
          <td>
            {{itineraries.depart_date}}
          </td>
          <td>
            {{itineraries.arrival_location}}
          </td>
          <td>
            {{itineraries.return_date}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</main>